body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ffe4ec, #ffd6e7);
}

/* CONTENEDOR */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* TARJETAS */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(255, 105, 180, 0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

/* PERFIL */
.profile {
    text-align: center;
    background: linear-gradient(to right, #ffb6c1, #ff69b4);
    color: white;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 10px;
}

/* TITULOS */
h1 {
    margin: 10px 0;
}

h2 {
    color: #ff4d88;
}

/* LINKS */
a {
    color: #ff4d88;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}